#include<bits/stdc++.h>

using namespace std;

class %ClassName% {
public:

  void solveOne() {

  }

  void solve() {
    int t = 1;
    cin >> t;
    for (int tc = 1; tc <= t; ++tc) {
      //	cout << "Case #" << tc << ": ";
      solveOne(cin, cout);
    }
  }
};